<!DOCTYPE html>
<html>
	<head>
		<title>Texas Doge'em - Game <%= id %></title>
		<% include include-css.ejs %>
		<style>
		body
			{
				background-image: url("/img/bg/table_top.png");
				position: absolute;
				background-size: cover;
				left: 0px;
				top: 0px;
				z-index: 1;
			}

		<!--	.card
			{
				position: absolute;
				height: 50%;
				width: 50%;
			}

			#card1
			{
				top: 3px;
				left: 43px;
			} -->
		</style>
	</head>
	<body>
		<!-- <img id="card1" class="card" src="/img/cards/clubs/king.png">
		<img id="card2" class="card" src="/img/cards/spade/3.png">
		<img id="card3" class="card" src="/img/cards/diamonds/8.png">
		<img id="card3" class="card" src="/img/cards/other/rear.png">
		<img id="card4" class="card" src="/img/cards/other/rear.png">
		<img -->
    <!-- /#wrapper -->
	</body>
	<% include include-js.ejs %>
	<script>
	</script>
</html>
