<!DOCTYPE html>
<html>
	<head>
		<title>Texas Doge'em - Game <%= id %></title>
		<% include include-css.ejs %>
		<style>
		body
			{
				background-image: url("/img/bg/table_top.png");
				position: absolute;
				background-size: cover;
				left: 0px;
				top: 0px;
				z-index: 1;
			}
		</style>
	</head>
	<body>
    <!-- /#wrapper -->
	</body>
	<% include include-js.ejs %>
	<script>
	</script>
</html>
